/* General Styling */
body {
  background-image: linear-gradient(rgba(188, 255, 215, 0.685), #b5ccffa8), url('../images/backgroundm.jpg');
  background-size: cover, cover; /* Scale the image to cover the entire background */
  /* background-position: auto, 50% 0%, 0% 50%; */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
  font-family: Helvetica, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serifns-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color: #367;
  background-image: linear-gradient(rgb(65, 84, 146), rgb(51, 136, 18));
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile img {
  /* width: 30; */
  height: 150px;
  
  
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section {
  padding: 20px 20px;
  text-align: center;
  font-family: Arial Narrow Bold', sans-serif, 'Times New Roman'
}


.about {
  border: 5px solid #333; /* Frame border */
  padding: 20px; /* Space inside the frame */
  border-radius: 10px; /* Rounded corners for the frame */
  background-color: rgb(218, 255, 151); /* Frame background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  margin: 20px auto;
  max-width: 1200px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger
}

.about img {
  max-width: 50%;
  height: auto;
  text-align: center;
  border-radius: 15px;
  margin-bottom: auto;
  
}

.project {
  border: 5px solid #333; /* Frame border */
  padding: 20px; /* Space inside the frame */
  border-radius: 10px; /* Rounded corners for the frame */
  background-color: rgb(218, 255, 151); /* Frame background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  margin: 20px auto;
  max-width: 850px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: auto;
}

.contact {
  border: 5px solid #333; /* Frame border */
  padding: 20px; /* Space inside the frame */
  border-radius: 10px; /* Rounded corners for the frame */
  background-color: rgb(218, 255, 151); /* Frame background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  margin: 20px auto;
  max-width: 1200px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  font-family: 'Roboto','Arial Narrow Bold' Times, serif;
  font-size: larger;
}

/* Animation Classes */
.fade-in {
  animation: fadeIn 1500ms ease-in-out;
}

.fade-down {
  animation: fadeDown 1500ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}